{% extends "layout.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}

<h1 align="center"> Tasks for Todo List: {{ todo_list.title }}</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.description(class="form-control form-control-lg")}}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>

<ul class="list-group list-group-flush" id="tasks" style="display: flex; flex-direction: column;">
    {% for task in tasks %}
    <li class="list-group-item d-flex justify-content-between align-items-center" style="display: flex; align-items: center;">
        <div class="d-flex align-items-center">
            <form action="{{ url_for('Views.task_update', task_id=task[0]) }}" method="POST">
                <input type="hidden" name="completed" value="{{ task[2] }}">
                <label class="checkbox-container" style="display: flex; align-items: center;">
                    <input type="checkbox" name="status" {% if task[2] %}checked{% endif %} onchange="this.form.submit()" style="zoom: 1.5;">
                    <span class="checkmark"></span>
                </label>
            </form>
            <strong style="margin-left: 10px;">Description:&nbsp;</strong> {{ task[1] }}
        </div>
      
        <div class="d-flex">
            <form action="{{ url_for('Views.task_delete', task_id=task[0]) }}" method="POST" class="mr-2">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}